
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>
<h2>El proceso se completo sin problemas, gracias por usar nuestros servicios</h2>
<h2>Segun lo que hayas escogido el nombre del archivo sera</h2>
<ol>
    <li>ESTUDENTSTXT</li>
    <li>ESTUDENTSEXCEL</li>
    <li>ESTUDENTSJSON</li>
</ol>

